main {
  max-width: 600px;
  margin: 60px auto 0;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background-color: rgb(48, 46, 46);
  color: whitesmoke;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 8px;
  box-shadow: 0 0 10px lightgray;
}

img {
  width: 200px;
  height: 200px;
}
